nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 1.8rem;
    width: 100vw;
    background-color: darkred;
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    font-family: monospace, sans-serif;
    color: white;
}